.register {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 25px);
    background-color: white;
    max-width: 430px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    width: 100%;
    padding: 7px;
    gap: 50px;
    border-radius: 20px;
}

.register input {
    width: 100%;
    border: 0px solid;
    padding: 10px 35px;
    border-bottom: 1.5px solid black;
    position: relative;
}

.register input:focus {
    border-bottom-color:rgb(0, 98, 209);
    outline: none;
}

.register i {
    position: absolute;
    left: 39.5%;
    margin-top: 5px;
    height: fit-content;
    color: rgb(0, 98, 209);
    font-size: 23px;
}

.register span {
    position: absolute;
    left: 59.6%;
    top: 54.3%;
    color: rgb(0, 98, 209);
    font-size: 23px;
}

.register span:hover {
    background-color: rgba(87, 178, 253, 0.2);
    border-radius: 5px;
}

.register button {
    background-color: rgb(114, 187, 247);
    color: white;
    width: 25rem;
    height: 3rem;
    border-radius: 1rem;
    border: 0.5px;
}

.register button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.register a:hover {
    text-decoration: underline;
}
