.register {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: solid 1px black;
    margin: 20rem;
    margin-left: 45rem;
    margin-right: 45rem;
    justify-content: center;
    border-radius: 20px;
}