/* Estilo para um input */
.inputCustom {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    margin-left: 1rem;
    padding-right: 1.6rem;
}

/* Estilo quando o input está focado */
.inputCustom:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/* Estilo quando o mouse passa sobre o input */
.inputCustom:hover {
    background-color: #ffffff;
}