.all {
    position: relative;
	width: calc(100% - 17.5rem);
	left: 17.5rem;
	transition: .3s ease;
}

.topTitle {
    width: 100%;
	padding: 2.25rem 1.5rem;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 0.625rem;
	color: var(--dark);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-gap: 0.875rem;
    margin-top: 2.25rem;
    padding: 0.625rem;
}

.topTitle h1{
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    color: black;
}
