// .cards {
// 	position: relative;
// 	width: calc(100% - 17.5rem);
// 	left: 17.5rem;
// 	transition: .3s ease;
// }

// .topTitle {
//     width: 100%;
// 	padding: 36px 24px;
// 	font-family: var(--poppins);
// 	max-height: calc(100vh - 56px);
// 	overflow-y: auto;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	flex-wrap: wrap;
//     font-size: 36px;
// 	font-weight: 600;
// 	margin-bottom: 10px;
// 	color: var(--dark);
// }

// .topTitle h1{
//     font-size: 36px;
//     font-weight: 600;
//     margin-bottom: 10px;
//     color: black;
// }

// .grafico {
//     margin-top: 2rem;
// 	display: flex;
// 	justify-content: space-around;
// }

.all {
	position: relative;
	width: calc(100% - 17.5rem);
	left: 17.5rem;
	transition: .3s ease;
}

.topTitle {
    width: 100%;
	padding: 2.25rem 1.5rem;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 0.625rem;
	color: var(--dark);
}

.topTitle h1{
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    color: black;
}

.grafico{
    margin-top: 2rem;
	display: flex;
	justify-content: space-around;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-gap: 0.875rem;
    margin-top: 2.25rem;
    padding: 0.625rem;
}

.graficos {
    margin-top: 2.25rem;
    padding: 0.625rem;
}

.cardGeral{
	background-color: #FFF;
    // color: #eff4f7;
    align-items: center;
    // margin-top: ;
    // height: 4%;
    border-radius: 20px; 
    font-weight: 600; 
    font-size: 2rem;
    padding: 15px;
    width: 46rem;
	
}

.cardGeralColuna{
	margin-bottom: 2rem;
	background-color: #FFF;
    // color: #eff4f7;
    align-items: center;
    // margin-top: ;
    // height: 4%;
    border-radius: 20px; 
    font-weight: 600; 
    font-size: 2rem;
    padding: 15px;
    // width: 46rem;
}

.botao{
    padding: 5px 10px; /* Adiciona um pequeno preenchimento interno */
    font-size: 14px; /* Define o tamanho da fonte */
    border: 1px solid #ccc; /* Adiciona uma borda sólida */
    border-radius: 4px; /* Adiciona cantos arredondados */
    background-color: #f0f0f0; /* Define a cor de fundo */
    color: #333; /* Define a cor do texto */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    text-decoration: none; /* Remove sublinhado padrão para links */

}
