@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-gap: 0.875rem;
    margin-top: 2.25rem;
    padding: 0.625rem;
}

.li {
    padding: 24px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.li #bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: rgb(224, 224, 224);
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightskyblue;
    color: white;
}
