.dashboard{
    background-color: #eff4f7; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
    
.dashboardBlocosProduto{
    display: flex;
    gap: 2rem;
}
.grafico{
    box-shadow: 0px 1px 22px -12px #607D8B;
    background-color: #FFF;
}

.graficoPizza{
    box-shadow: 0px 1px 22px -12px #607D8B;
    background-color: #FFF;
    height: 70%;
}

.tituloGraficoPizza{
    align-self: center;
}

// section{
//     background-color: aquamarine;
// }
