@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');


.usuariosTableContainer {
    margin-top: 2rem;
    margin-left: 20rem; 
    width: 80%;
    font-family: 'Poppins', sans-serif;
}

.usuariosTable {
    border-radius: 10px;
    background-color: white;
    line-height: 1.5;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.usuariosTable th,
.usuariosTable td {
    padding: 12px;
    text-align: center;
}

.usuariosTable th {
    background-color: #d8eeff; 
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1;
}

.usuariosTable td {
    border-bottom: 1px solid #ddd;
}


.btn {
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin-right: 8px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif; 
}

.btn:hover {
    background-color: #0056b3;
}


.usuariosTable tr:nth-child(even) {
    background-color: #f2f9ff; 
}


.btn-alterar {
    background-color: #17a2b8; 
}

.btn-excluir {
    background-color: #17a2b8; 
}