/* CSS File: styles.css */

/* Estilo base para o select */
.selectCustom {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff(201, 238, 255);
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    padding-right: 2rem;
    margin-left: 1rem;
}

/* Estilo quando o select está focado */
.selectCustom:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/* Estilo quando o mouse passa sobre o select */
.selectCustom:hover {
    background-color: #fff;
}