.card{
    background-color: #FFF;
    // color: #eff4f7;
    align-items: center;
    // margin-top: ;
    // height: 4%;
    border-radius: 20px; 
    font-weight: 600; 
    font-size: 2rem;
}

.apexcharts-legend-series{
    font-size: large;
}