.vendaContainer {
    margin: 0 auto; 
    margin-top: 50px;
    margin-left: 33%;
}

.vendaTabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse;
    border-radius: 10px;
    width: 70%;
    background-color: white;
}

.vendaTabela th {
    padding: 1rem;
}