@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --cinza: #EEE;
    --claro: #F9F9F9;
    --azul: #3C91E6;
    --preto: #342E37;
    --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 17.5rem;
    height: 100%;
    background: var(--claro);
    z-index: 1000;
    font-family: var(--lato);
}

.sidebar .brand{
    font-size: 1.5rem;
    font-weight: 700;
    height: 3.5rem;
    display: flex;
    align-items: center;
    color: var(--azul);
}

.sidebar .brand .bx{
    min-width: 3.75rem;
    display: flex;
    justify-content: center;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 3rem;
}

.sidebar .side-menu li{
    height: 3rem;
    background: transparent;
    margin-left: 0.375rem;
    border-radius: 3rem 0 0 3rem;
    padding: 0.25rem;
}

.sidebar .side-menu li.active{
    background: var(--cinza);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: '';
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	top: -2.5rem;
	right: 0;
	box-shadow: 20px 20px 0 var(--cinza);
	z-index: -1;
}

.sidebar .side-menu li.active::after{
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -4 0px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}

.sidebar .side-menu li .a{
    width: 100%;
    height: 100%;
    background: var(--claro);
    display: flex;
    align-items: center;
    border-radius: 3rem;
    font-size: 1.125rem;
    color: var(--preto);
}

.sidebar .side-menu.top li .a:hover{
    color: var(--azul);
}

.sidebar .side-menu li .a .bx{
    min-width: calc(3.75rem - ((0.25rem + 0.375rem) * 2));
    display: flex;
    justify-content: center;
}
