.card{
    width: 16rem;
    height: 7rem;
    border-radius: 0.625rem;
    background: rgb(224, 224, 224);
    font-size: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    color: black;
    box-shadow:  10px 5px 5px black;
    :hover {
        color: #3C91E6;
    }
}

.divGeral{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17%;
    margin-bottom: 3rem;
    
}
.divGeral2{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 17%;
    
}

.divDentro{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


